
@{
    ViewBag.Title = "RegisterOk";
}

<link href="~/Content/login-register.css" rel="stylesheet" />

@*<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>*@
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<section class="login-info">
    <div class="container">
        <div class="row main">
            <div class="form-header">
                <h1 class="text-center ">Yönlendiriliyorsunuz.... </h1>
            </div>
            <div class="main-content">
                <div class="text-success">
                    <h2><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;Kayıt oldunuz..</h2>
                    <hr />
                    <p class="text-justify">
                        Lütfen e-posta adresinize gönderdiğimiz aktivasyon link'ine tıklayarak hesabınızı aktive ediniz.
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>

@* registerok sayfasında footer kısmının gözükmemesi için yazıldı *@
<script>
    $(function () {
        $("footer").parent().hide();

        //Index sayfasına yönledirilme işlemi
        setTimeout(function () {
            window.location = "/Home/Index";
        }, 10000)
    });
</script>

